@charset "UTF-8";
/* Variables */ /* Mixins */ /* Keyframes */
@-webkit-keyframes anim-apparition {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim-apparition {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes page-apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes page-apparition {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loader-disparition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-disparition {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Bouton principal */
button {
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  box-shadow: 5px 5px 5px #d1d1d1;
  cursor: pointer;
  font-size: 0.8em;
  color: #FFF;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: all, 0.5s;
}
button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px #b0b0b0;
}

/* animation coeur */
.fa-solid.fa-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.coeur {
  position: relative;
  z-index: 0;
}
.coeur .coeur-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity, 1s;
  cursor: pointer;
}
.coeur .coeur-bg:hover {
  opacity: 1;
}

/* Animation loading spinner */
#global-container {
  -webkit-animation: page-apparition 2.5s ease-out forwards;
          animation: page-apparition 2.5s ease-out forwards;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  -webkit-animation: loader-disparition 2.5s ease-out forwards;
          animation: loader-disparition 2.5s ease-out forwards;
}

.loader {
  border: 5px solid rgba(255, 121, 218, 0.2);
  position: relative;
  height: 130px;
  width: 130px;
  border-radius: 130px;
  -webkit-animation: spinning 1s linear infinite;
          animation: spinning 1s linear infinite;
}
.loader::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
  border: 5px solid transparent;
  border-radius: 130px;
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #9356DC;
}

.fa-solid.fa-hourglass-start {
  font-size: 4em;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 28px 0px 0px 36px;
}

/* Elements principaux de la page*/
* {
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto";
  height: 100%;
}

@media screen and (min-width: 768px) {
  #global-container {
    margin: auto;
    width: 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header page index */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 5px 20px #cccccc;
  padding: 25px 0px 15px 0px;
}
header img {
  height: 30px;
}

/* Bloc réservation de la page index */
#reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation .reservation__form {
  margin-top: 2px;
  padding: 10px 0px 10px 0px;
  background-color: #ededed;
  display: flex;
  width: 100%;
  justify-content: center;
}
#reservation .reservation__form .fa-solid.fa-location-dot {
  font-size: 0.8em;
}
#reservation .reservation__form input {
  background-color: #ededed;
  border: none;
  text-align: center;
  width: 35%;
}
#reservation .reservation__bloc {
  text-align: center;
  height: 300px;
  width: 100%;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}
#reservation .reservation__bloc h1 {
  font-size: 1.2em;
}
#reservation .reservation__bloc p {
  color: #a6a6a6;
  font-weight: lighter;
  font-size: 0.9em;
}

/* Bloc Fonctionnement */
#fonctionnement {
  padding: 30px 0px 30px 0px;
}
#fonctionnement h2 {
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 20px;
}
#fonctionnement ul {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0px 10px 0px 30px;
}
@media screen and (min-width: 768px) {
  #fonctionnement ul {
    margin: auto;
    width: 50%;
  }
}
#fonctionnement ul li {
  display: flex;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 15px;
  height: 50px;
  box-shadow: 5px 5px 5px #d1d1d1;
  transition: background-color, 0.6s;
}
#fonctionnement ul li span {
  background-color: #9356DC;
  color: #FFF;
  font-size: 0.7em;
  margin: 0px 0px 15px -9px;
  border-radius: 40px;
  padding: 2px 7px 0px 7px;
}
#fonctionnement ul li .fa-solid.fa-mobile-screen-button, #fonctionnement ul li .fa-solid.fa-list, #fonctionnement ul li .fa-solid.fa-store {
  font-size: 0.9em;
  margin: 0px 10px 0px 20px;
}
#fonctionnement ul li h2 {
  font-size: 0.9em;
  font-weight: lighter;
}
#fonctionnement ul li:hover {
  background-color: #f2eafb;
}
#fonctionnement ul li:hover .fa-solid.fa-mobile-screen-button, #fonctionnement ul li:hover .fa-solid.fa-list, #fonctionnement ul li:hover .fa-solid.fa-store {
  color: #9356DC;
}

/* Bloc restaurants de la page index */
#restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 50px 0px;
  background-color: whitesmoke;
  height: 1300px;
}
@media screen and (min-width: 768px) {
  #restaurants {
    height: 900px;
  }
}
#restaurants h2 {
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 15px;
}
#restaurants .restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1200px;
}
@media screen and (min-width: 768px) {
  #restaurants .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
  }
}
#restaurants .restaurants__container a {
  width: 90%;
}
@media screen and (min-width: 768px) {
  #restaurants .restaurants__container a {
    width: 40%;
  }
}
#restaurants .restaurants__container a article {
  position: relative;
}
#restaurants .restaurants__container a article .nouveau {
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.7em;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: 80%;
  top: 5%;
}
@media screen and (min-width: 768px) {
  #restaurants .restaurants__container a article .nouveau {
    left: 74%;
  }
}
#restaurants .restaurants__container a .restaurants__cards {
  height: 280px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #d1d1d1;
}
#restaurants .restaurants__container a .restaurants__cards:hover {
  box-shadow: 5px 5px 5px #b0b0b0;
}
#restaurants .restaurants__container a .restaurants__cards img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .restaurants__cards_sous-bloc {
  padding-left: 15px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .restaurants__cards_sous-bloc h3 {
  font-size: 0.9em;
  margin-bottom: 5px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .restaurants__cards_sous-bloc p {
  font-size: 0.9em;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .fa-regular.fa-heart, #restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .fa-solid.fa-heart {
  padding-right: 25px;
  font-size: 1.5em;
}

/* Footer */
footer {
  border-top: 1px solid #000;
  color: #FFF;
  background-color: #333333;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}
@media screen and (min-width: 768px) {
  footer {
    height: 150px;
  }
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1em;
  font-weight: 50;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  footer h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
footer ul {
  padding-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul a {
  color: #FFF;
  font-size: 0.8em;
}/*# sourceMappingURL=index-style.css.map */