/* Variables */ /* Mixins */ /* Bouton principal */
button {
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  box-shadow: 5px 5px 5px #d1d1d1;
  cursor: pointer;
  font-size: 0.8em;
  color: #FFF;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: all, 0.5s;
}
button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px #b0b0b0;
}

/* animation coeur */
.fa-solid.fa-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.coeur {
  position: relative;
  z-index: 0;
}
.coeur .coeur-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity, 1s;
  cursor: pointer;
}
.coeur .coeur-bg:hover {
  opacity: 1;
}

/* Elements principaux de la page*/
* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  #global-container {
    margin: auto;
    width: 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header pages menus */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 0px 15px 0px;
}
header a {
  padding-left: 20px;
}
header img {
  height: 30px;
  padding-left: 70px;
}

/* image de la page */
main {
  display: flex;
  flex-direction: column;
}
main > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  z-index: 1;
}
main > img + .container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -40px;
  z-index: 2;
}

/* Footer */
footer {
  border-top: 1px solid #000;
  color: #FFF;
  background-color: #333333;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}
@media screen and (min-width: 768px) {
  footer {
    height: 150px;
  }
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1em;
  font-weight: 50;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  footer h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
footer ul {
  padding-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul a {
  color: #FFF;
  font-size: 0.8em;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
  background-color: whitesmoke;
}
.container .container-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  width: 90%;
}
.container .container-titre h1 {
  font-family: "shrikhand";
  font-size: 1.6em;
  font-weight: lighter;
}
.container .container-titre .fa-regular.fa-heart, .container .container-titre .fa-solid.fa-heart {
  font-size: 1.6em;
}
.container .container-bloc {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container .container-bloc section h2 {
  font-size: 1.3em;
  font-weight: 100;
}
.container .container-bloc section article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  height: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #d1d1d1;
  position: relative;
}
.container .container-bloc section article .container-bloc-principal {
  display: flex;
  flex-direction: column;
}
.container .container-bloc section article .container-bloc-principal h3 {
  font-weight: 550;
  margin-bottom: 5px;
}
.container .container-bloc section article .container-bloc-principal .container-bloc-p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 550;
}
.container .container-bloc section article .bloc-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 20%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  left: 277px;
  transform: scaleX(0);
  transition: all, 0, 5s;
}
.container .container-bloc section article:hover .bloc-anim {
  transform: scaleX(1);
}/*# sourceMappingURL=menu-style.css.map */