/* Variables */ /* Mixins */ /* Keyframes */
@-webkit-keyframes anim-apparition {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim-apparition {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes loader-disparition {
  0%, 50% {
    opacity: 1;
    z-index: 999999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-disparition {
  0%, 50% {
    opacity: 1;
    z-index: 999999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* Bouton principal */
button {
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  box-shadow: 5px 5px 5px #d1d1d1;
  cursor: pointer;
  font-size: 0.8em;
  color: #FFF;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: all, 0.5s;
}
button:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px #b0b0b0;
}

/* animation coeur */
.fa-solid.fa-heart {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.coeur {
  position: relative;
  z-index: 0;
}
.coeur .coeur-bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity, 1s;
  cursor: pointer;
}
.coeur .coeur-bg:hover {
  opacity: 1;
}

/* Elements principaux de la page*/
* {
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto";
  height: 100%;
}
@media screen and (min-width: 992px) {
  body, html {
    margin: auto;
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body, html {
    width: 100%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header pages menus */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 0px 15px 0px;
}
header a {
  padding-left: 20px;
}
header img {
  height: 30px;
  padding-left: 70px;
}
@media screen and (min-width: 992px) {
  header img {
    padding-left: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header img {
    padding-left: 280px;
  }
}

/* image de la page */
main {
  display: flex;
  flex-direction: column;
}
main > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  z-index: 1;
}
main > img + .container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -40px;
  z-index: 2;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
  background-color: whitesmoke;
}
.container .container-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  width: 90%;
}
.container .container-titre h1 {
  font-family: "shrikhand";
  font-size: 1.6em;
  font-weight: lighter;
}
.container .container-titre .fa-regular.fa-heart, .container .container-titre .fa-solid.fa-heart {
  font-size: 1.6em;
}
.container .container-bloc {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px -5px;
  align-items: center;
}
.container .container-bloc section {
  margin-bottom: 20px;
  width: 95%;
}
.container .container-bloc section h2 {
  font-size: 1.3em;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.container .container-bloc section h2::after {
  content: "";
  background-color: #99E2D0;
  display: block;
  height: 3px;
  width: 15%;
  margin-top: 5px;
}
.container .container-bloc section .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  height: 70px;
  margin: 0px 10px 15px 0px;
  padding: 0px 20px 0px 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #d1d1d1;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: anim-apparition 1200ms ease-in-out;
          animation: anim-apparition 1200ms ease-in-out;
}
.container .container-bloc section .menu--1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.container .container-bloc section .menu--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.container .container-bloc section .menu--3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.container .container-bloc section .menu--4 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.container .container-bloc section .menu .container-bloc-principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: scale, 1s ease-in-out;
}
.container .container-bloc section .menu .container-bloc-principal h3 {
  font-weight: 550;
  margin-bottom: 5px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .container-bloc section .menu .container-bloc-principal .container-bloc-p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 550;
}
.container .container-bloc section .menu .container-bloc-principal .container-bloc-p p {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .container-bloc section .menu .bloc-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 20%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -25%;
  transform-origin: right;
  transition: scale, 1s ease-in-out;
}
.container .container-bloc section .menu .bloc-anim .icon-anim {
  color: #FFF;
  font-size: 1.2em;
  transform: rotate(0turn);
  transition: 1.3s ease-in-out;
}
.container .container-bloc section .menu:hover .bloc-anim {
  margin-right: 0;
}
.container .container-bloc section .menu:hover .container-bloc-principal {
  width: 80%;
}
.container .container-bloc section .menu:hover .icon-anim {
  transform: rotate(-1turn);
}
.container .container-bloc button {
  width: 40%;
  margin-bottom: 50px;
  margin-left: -15px;
}

/* Footer */
footer {
  border-top: 1px solid #000;
  color: #FFF;
  background-color: #333333;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}
@media screen and (min-width: 992px) {
  footer {
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer {
    align-items: center;
  }
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1em;
  font-weight: 50;
  padding-left: 20px;
}
@media screen and (min-width: 992px) {
  footer h2 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer h2 {
    font-size: 1.3em;
  }
}
footer ul {
  padding-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  footer ul {
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer ul {
    align-items: center;
  }
}
footer ul a {
  color: #FFF;
  font-size: 0.8em;
}
@media screen and (min-width: 992px) {
  footer ul a {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  footer ul a {
    font-size: 1em;
  }
}
footer ul a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=menu-style.css.map */