@charset "UTF-8";
/* Variables */ /* Mixins */ /* Elements principaux de la page*/
* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  #global-container {
    margin: auto;
    width: 50%;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header page index */
header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0px 5px 20px #cccccc;
  padding-top: 20px;
}
header img {
  height: 30px;
}

/* Bloc réservation de la page index */
#reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation .reservation__form {
  margin-top: 2px;
  padding: 10px 0px 10px 0px;
  background-color: #ededed;
  display: flex;
  width: 100%;
  justify-content: center;
}
#reservation .reservation__form .fa-solid.fa-location-dot {
  font-size: 0.8em;
}
#reservation .reservation__form input {
  background-color: #ededed;
  border: none;
  text-align: center;
  width: 35%;
}
#reservation .reservation__bloc {
  text-align: center;
  height: 300px;
  width: 100%;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}
#reservation .reservation__bloc h1 {
  font-size: 1.2em;
}
#reservation .reservation__bloc p {
  color: #a6a6a6;
  font-weight: lighter;
  font-size: 0.9em;
}
#reservation .reservation__bloc button {
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  box-shadow: 5px 5px 5px #d1d1d1;
  cursor: pointer;
  font-size: 0.8em;
  color: #FFF;
  background-color: #9356DC;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: transform, 0.9s;
}
#reservation .reservation__bloc button:hover {
  transform: scale(1.05);
}

/* Bloc Fonctionnement */
#fonctionnement {
  padding: 30px 0px 30px 0px;
}
#fonctionnement h2 {
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 20px;
}
#fonctionnement ul {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 0px 10px 0px 30px;
}
@media screen and (min-width: 768px) {
  #fonctionnement ul {
    margin: auto;
    width: 50%;
  }
}
#fonctionnement ul li {
  display: flex;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-top: 15px;
  height: 50px;
  box-shadow: 5px 5px 5px #d1d1d1;
}
#fonctionnement ul li span {
  background-color: #9356DC;
  color: #FFF;
  font-size: 0.7em;
  margin: 0px 0px 15px -9px;
  border-radius: 40px;
  padding: 2px 7px 0px 7px;
}
#fonctionnement ul li .fa-solid.fa-mobile-screen-button, #fonctionnement ul li .fa-solid.fa-list, #fonctionnement ul li .fa-solid.fa-store {
  font-size: 0.9em;
  margin: 0px 10px 0px 20px;
}
#fonctionnement ul li h2 {
  font-size: 0.9em;
  font-weight: lighter;
}
#fonctionnement ul li:hover {
  background-color: #f2eafb;
}
#fonctionnement ul li:hover .fa-solid.fa-mobile-screen-button, #fonctionnement ul li:hover .fa-solid.fa-list, #fonctionnement ul li:hover .fa-solid.fa-store {
  color: #9356DC;
}

/* Bloc restaurants de la page index */
#restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 50px 0px;
  background-color: whitesmoke;
  height: 1300px;
}
@media screen and (min-width: 768px) {
  #restaurants {
    height: 900px;
  }
}
#restaurants h2 {
  font-size: 1.2em;
  padding-left: 20px;
  margin-bottom: 15px;
}
#restaurants .restaurants__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1200px;
}
@media screen and (min-width: 768px) {
  #restaurants .restaurants__container {
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
  }
}
#restaurants .restaurants__container a {
  width: 90%;
}
@media screen and (min-width: 768px) {
  #restaurants .restaurants__container a {
    width: 40%;
  }
}
#restaurants .restaurants__container a .nouveau {
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.7em;
  width: 17%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -25px;
  transform: translate(450%, 170%);
}
@media screen and (min-width: 768px) {
  #restaurants .restaurants__container a .nouveau {
    width: 22%;
    transform: translate(320%, 170%);
  }
}
#restaurants .restaurants__container a .restaurants__cards {
  height: 280px;
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #d1d1d1;
}
#restaurants .restaurants__container a .restaurants__cards:hover {
  box-shadow: 5px 5px 5px #b0b0b0;
}
#restaurants .restaurants__container a .restaurants__cards img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .restaurants__cards_sous-bloc {
  padding-left: 15px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .restaurants__cards_sous-bloc h3 {
  font-size: 0.9em;
  margin-bottom: 5px;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .restaurants__cards_sous-bloc p {
  font-size: 0.9em;
}
#restaurants .restaurants__container a .restaurants__cards .restaurants__cards_bloc .fa-regular.fa-heart {
  padding-right: 25px;
  font-size: 1.5em;
}

/* Footer */
footer {
  border-top: 1px solid #000;
  color: #FFF;
  background-color: #333333;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px 30px 0px;
}
@media screen and (min-width: 768px) {
  footer {
    height: 150px;
  }
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1em;
  font-weight: 50;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  footer h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
footer ul {
  padding-left: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  footer ul {
    flex-direction: row;
  }
}
footer ul a {
  color: #FFF;
  font-size: 0.8em;
}/*# sourceMappingURL=style.css.map */