/* Bloc restaurants de la page index */

#restaurants{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
    background-color: lighten($grey-color, 1%);
    height: 1300px;
    @include desktop{
        height: 800px;
    };
    @include tablette{
        height: 800px;
    };
    
    h2{
        font-size: 1.2em;
        padding-left: 20px;
        margin-bottom: 15px;
    }
    .restaurants__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 1200px;
        @include desktop{
            height: 635px;
            flex-direction: row;
            flex-wrap: wrap;
        };
        @include tablette{
            height: 635px;
            flex-direction: row;
            flex-wrap: wrap;            
        };
        
        a{  
            width: 90%;
            @include desktop{
                width: 45%;
            };
            @include tablette{
                width: 45%;
            };
            
            article{
                position: relative;
                .nouveau{
                    background-color: $tertiary-color;
                    color: darken($tertiary-color, 40%);
                    font-size: 0.7em;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    position: absolute;
                    left: 80%;
                    top: 5%;
                    @include desktop{
                        left:73%;
                    };
                    
                }
            }
            
            .restaurants__cards{
                height: 280px;
                background-color: $white-color;
                border-radius: 15px;
                @include shadow;
                &:hover{
                    @include dark-shadow;
                }
                img{
                    object-fit: cover;
                    height: 200px;
                    width: 100%; 
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;                   
                }  
                .restaurants__cards_bloc{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 70px;
                    .restaurants__cards_sous-bloc{
                        padding-left: 15px;
                        h3{
                            font-size: 0.9em;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: 0.9em;
                        }
                    }
                    .fa-regular.fa-heart, .fa-solid.fa-heart{
                        padding-right: 25px;
                        font-size: 1.5em;   
                    }
                    
                } 
            }
        }
        
    }
}
