/* Elements principaux de la page*/

*{
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}