/* Elements principaux de la page*/

*{
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html{
    font-family: 'Roboto';
    height: 100%;
}

#global-container{
    @include desktop{
        margin: auto;
        width: 50%;
    }
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $black-color;
}