/* Footer */

footer{
    border-top: 1px solid $black-color;
    color: $white-color;
    background-color: lighten($black-color, 20%);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;
    @include desktop{
        align-items: center
    };
    @include tablette{
        align-items: center
    };
    h2{
        font-family: 'Shrikhand';
        font-size: 1em;
        font-weight: 50;
        padding-left: 20px;
        @include desktop{
            font-size: 1.3em;
        };
        @include tablette{
            font-size: 1.3em;
        }
        
    }
    ul{
        padding-left: 20px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include desktop{
            align-items: center
        };
        @include tablette{
            align-items: center
        };
        
        a{
            color: $white-color;
            font-size: 0.8em;
            @include desktop{
                font-size: 1em;
            };
            @include tablette{
                font-size: 1em;
            };
            &:hover{
                text-decoration: underline;
            }
        }
    }
}








