/* Header page index */

header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid darken($grey-color, 15%);
    box-shadow: 0px 5px 20px darken($grey-color, 15%);
    padding-top: 20px;
    img{
        height: 30px;
    }
}