/* animation coeur */

.fa-solid.fa-heart{
    background-image: linear-gradient($primary-color, $secondary-color);
    background-clip: text;
    color: transparent;
}
.coeur{
    position: relative;
    z-index: 0;
    .coeur-bg{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
        opacity: 0;
        transition: opacity, 1s;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        @include desktop{
            &:hover{
                opacity: 0;
            }
            &:active{
                opacity: 1;
            }
        };            
    }
}