/* Variables */

$white-color: #FFF;
$grey-color: #f2f2f2;
$black-color: #000;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$anim-dur: 1200ms;
$anim-delay: $anim-dur / 4;

$breakpoint-tablette: 768px;
$breakpoint-desktop: 992px;